<h1 class="mat-h1" i18n mat-dialog-title>Willkommen 👋🏼</h1>
<div mat-dialog-content class="mat-typography">
  <div fxLayout="column" fxLayoutGap="1rem">
    <img src="assets/illustrations/welcome.svg" alt="Welcome" />
    <div>
      <h3 i18n>Was ist das?</h3>
      <p i18n>Hier kannst du deine Stimmung ueber da Jahr hinweg einfach tracken.</p>
    </div>
    <div>
      <h3 i18n>Und meine Daten?</h3>
      <p i18n>Die Daten werden nur auf diesem Gereat gespeichert und nie hochgeladen.</p>
    </div>
    <div>
      <h3 i18n>Warum?</h3>
      <p i18n>
        Ich habe von dieser Technik gelesen aber keine App gefunden, die mir gefallen hat. ALso hab ich mich mal
        hingesetzt und als Uebung selbst eine geschrieben.
      </p>
    </div>
    <div>
      <h3 i18n>Gibt es das als App?</h3>
      <p i18n>
        Falls dein Handy monderne APps unterstuetzt sollte in der Leiste oben ein download icon sichtbar werden. Damit
        kannst du die app auf deinem Handy installieren.
      </p>
    </div>
  </div>
</div>
<div mat-dialog-actions align="right"><button mat-stroked-button mat-dialog-close i18n>Alles klar</button></div>
