<mat-toolbar class="dark-theme fixed mat-typography" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center">
    <mat-icon class="logo" svgIcon="logo"></mat-icon>
    <h1 fxFlex>A pixel a day</h1>
    <button (click)="installApp()" *ngIf="(canInstall$ | async)" mat-icon-button>
      <mat-icon svgIcon="download"></mat-icon>
    </button>
    <button (click)="showAbout()" mat-icon-button><mat-icon svgIcon="help"></mat-icon></button>
  </div>
</mat-toolbar>
<button mat-fab (click)="newEntry()" [disabled]="fabDisabled$ | async"><mat-icon svgIcon="add"></mat-icon></button>
<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="90" fxFlex.sm="70" fxFlex.md="60" fxFlex.gt-md="30" fxLayout="column" fxLayoutGap="2rem">
    <mat-toolbar class="spacer"></mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <button mat-icon-button disabled><mat-icon svgIcon="left"></mat-icon></button>
      <h1 class="mat-display-2">{{ displayYear$ | async }}</h1>
      <button mat-icon-button disabled><mat-icon svgIcon="right"></mat-icon></button>
    </div>
    <ng-container *ngIf="(yearData$ | async); else empty">
      <p i18n>Hier kannst du sehen, wie {{ currentYear }} war.</p>
      <app-display-year [data]="yearData$ | async" [year]="displayYear$ | async"></app-display-year>
      <p *ngIf="(fabDisabled$ | async)" i18n>Du kannst morgen wieder deine Stimmung speichern</p>
    </ng-container>
    <ng-template #empty>
      <div><img src="assets/illustrations/empty.svg" alt="List is empty" /></div>
      <p i18n="Text is displayed if the selected year has no data recorded">
        Sieht so aus, also ob du noch nichts eingetragen hast. Fuege deinen ersten Tag hinzu!
      </p>
    </ng-template>
  </div>
</div>
