.cell {
  width: 100%;
  padding-top: 100%;
  position: relative;

  .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &.mood-0 {
    background: #e0e0e0;
  }

  &.mood-1 {
    background: #ef5350;
  }

  &.mood-2 {
    background: #ef9a9a;
  }

  &.mood-3 {
    background: #64b5f6;
  }

  &.mood-4 {
    background: #a5d6a7;
  }

  &.mood-5 {
    background: #66bb6a;
  }
}
