<h1 mat-dialog-title i18n>Neuer Eintrag ✨</h1>
<div mat-dialog-content class="mat-typography" fxLayout="column">
  <img src="assets/illustrations/chill.svg" alt="Welcome">
  <!--<h1>Fuer den </h1>-->
  <p i18n>Wie gut hast du dich heute gefuehlt?</p>
  <mat-slider min="1" max="5" step="1" [formControl]="moodCtrl"></mat-slider>
  <div fxLayout="column" fxLayoutGap=".25rem" class="has-margin-bottom">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-icon svgIcon="crying"></mat-icon>
      <mat-icon svgIcon="sad"></mat-icon>
      <mat-icon svgIcon="neutral"></mat-icon>
      <mat-icon svgIcon="happy"></mat-icon>
      <mat-icon svgIcon="lol"></mat-icon>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <span i18n>Ganz schlecht</span>
      <span i18n>Super gut</span>
    </div>
  </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayoutGap=".5rem">
  <button mat-stroked-button [mat-dialog-close]="moodCtrl.value" color="primary" i18n="@@actionSave">Speichern</button>
  <button mat-stroked-button mat-dialog-close i18n="@@actionCancel">Abbrechen</button>
</div>
